p{
  font: italic bold 30px verdana; /* style weight size family*/
  color: rgba(183, 3, 3, 0.7);

  /*border: 4px dotted pink;
  padding: 20px;
  margin: 10px;*/

  border-top: 4px solid black;
  border-right: 10px solid red;
  border-bottom: 10px outset red;


  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
  /*padding: top right bottom left*/

  margin-top: 70px;
  margin-left: 30px;
  background-color: #fff;
}

body{
  background-image: url('images/big.jpg');
  background-size: cover;
  /*background: color image position/size repeat origin clip attachment(fixed or scroll) initial|inherit;*/
  background: black url('images/big.jpg') center/cover no-repeat fixed;
}


div{
  font: bold 30px;
  color: green;
  border: 3px dotted red;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 600px;
}

span{
  font: italic 20px;
  color: green;
  border: 3px dashed violet;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 600px;
  display: block;
}
